body {
    min-width: 700px;
    font-family: Comfortaa;
    color: #FFFFFF;
    background-color: #171717;
    margin: 0;
}
.head-header {
    font-size: 30px;
    font-weight: medium;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}
.head-header > a {
    margin-left: 50px;
}
.bottom-header {
    text-align: center;
    font-weight: medium;
    font-size: 96px;
    vertical-align: middle;
    margin-top: 200px;
}
.p2 {
    font-size: 48px;
}
.AboutMe {
    min-width: 700px;
    max-width: 1440px;
    height: 876.12px;
    margin-left: auto;
    margin-right: auto;
}
.Projects {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    height: 254px;
    transform: translate(0, 25%);
}
.imgs {
    min-width: 700px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    transform: translate(0, 30%);
}
.footer > p {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
.footer-bottom {
    font-size: 30px;
    font-weight: medium;
    display: flex;
    justify-content: center;
    height: 540px;
}
.footer-bottom > a {
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
}