body {
    min-width: 700px;
    max-width: 100%;
    font-family: Comfortaa;
    color: #FFFFFF;
    background-color: #171717;
    margin: 0;
}
.head-header {
    font-size: 30px;
    font-weight: medium;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}
.head-header > a {
    margin-left: 50px;
}
.bottom-header {
    text-align: center;
    font-weight: medium;
    font-size: 96px;
    vertical-align: middle;
    margin-top: 200px;
}
.p2 {
    font-size: 48px;
}
.AboutMe {
    margin-left: auto;
    margin-right: auto;
}
.AboutMe > img {
    width: 100%;
}
.Projects {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    height: 254px;
    transform: translate(0, 29%);
}
.imgs {
    margin-left: auto;
    margin-right: auto;
}
.imgs > img {
    width: 100%;
}
.footer {
    transform: translate(0, 45%);
}
.footer > p {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
.footer-bottom {
    font-size: 30px;
    font-weight: medium;
    display: flex;
    justify-content: center;
    height: 340px;
    margin-right: 55px;
}
.footer-bottom > a {
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    background-color: #171717;
  }
  .whr-drop-main > img {
      width: 100%;
  }
  .whr-drop-hide {
    display: block;
  }
.dropbtn1 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }