body {
    min-width: 700px;
    font-family: Comfortaa;
    color: #FFFFFF;
    background-color: #171717;
    margin: 0;
}
.header {

}
.head-header {
    font-size: 30px;
    font-weight: medium;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}
.head-header > a {
    margin-left: 50px;
}
.bottom-header {
    text-align: center;
    font-weight: medium;
    font-size: 96px;
    vertical-align: middle;
    margin-top: 200px;
}
.p2 {
    font-size: 48px;
}
.AboutMe {
    min-width: 700px;
    max-width: 1440px;
    height: 876.12px;
    background-image: url(../img/Valeria.png);
    background-color: #171717;
    margin-left: auto;
    margin-right: auto;
}
.AboutMe > p {
    text-align: end;
    transform: translate(0, 52px);
    font-weight: 700;
    font-size: 48px;
}
.AboutMe > span {
    max-width: 506px;
    font-weight: 400;
    font-size: 30px;
    justify-content: end;
    transform: translate(0, 152px);
} 